* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Monserrat", Arial;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.container {
    width: 80%;
    margin: auto;
    background-color: white;
}



.top {
    margin-bottom: 40px;
}


.logo {
    width: 170px;
    height: auto;
    display: inline-block;
    padding-right: 20px;
    border-right: 1px solid lightgray;
}

.menu {
    list-style-type: none;
    margin-bottom: 20px;
}

.menu li {
    display: inline-block;
}

li a {
    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;
    color: #929292;
    padding-right: 15px;
}

.banner img  {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.banner {
    background-color: yellow;
    position: relative;
    height: 500px;
    margin-bottom: 20px;
    border-radius: 10px;
    overflow: hidden;
}

.layer {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.2);
    border-radius: inherit;
}

.title {
    background-color: lightblue;
    height: 100px;
    margin-bottom: 20px;
}

.col {
    float: left;
    width: 30%;
    height: 600px;
    padding: 1px;
    margin-bottom: 20px;
    background-color: lightblue;
}

.left {
    margin-right: 5%;
}

.right {
    margin-left: 5%;
}

.footer {
    margin-top: 20px;
    background-color: blue;
    height: 150px;